---
---

.founders-section {
  .founder-headshot {

    width: 400px;
    height: 557px;
    background-color: #ccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: left;
    img {
      width: 100%;
    }
  }
}
