---
---

// TODO - share these across files
$primary: #e54d3f;
$light: #fff;
$dark: #000;

@mixin header-background-size {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
 // Content Sections 

.content-section {
  padding-top: 100px;
}

.section-header {
  color: $light;
  background-color: $light;
  h2 {
    margin: 1.5em 0;
  }
}

.founders-section {
  width: 100%;
  padding: 50px 0;
  color: $dark;
  text-align: left;
}

@media(min-width:767px) {
  .content-section {
      padding-top: 250px;
  }

  .founders-section {
      padding: 100px 0;
  }

}

#founders {
  .section-header {
    height: 450px;
    background: url(../img/founders-bg.jpg) no-repeat top center scroll;
    @include header-background-size;
  }

  .founder-headshot {
    width: 400px;
    height: 557px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: left;
    position: relative;
    img {
      width: 100%;
    }
    .founder-name {
      position: absolute; 
      height:100%; 
      width:100%; 
      text-align:center; 
      background:$light;
      background:rgba(255,255,255,.5);
      color: $dark;
      opacity: 0.4;

      transition: opacity 0.5s;

      &:hover {
        opacity: 0;
      }
      h2 {
        margin-top: 30px;
      }
    }
  }
}


#contact {
  .section-header {
    height: 450px;
    background: url(../img/contact-bg.jpg) no-repeat top center scroll;
    @include header-background-size;
  }
}

#worked-with {
  figcaption {
    text-align: center;
    font-style: italic;
    color: #666;
  }
}

.worked-with {
  position: relative;
  margin-bottom: 1rem;
  cursor: default;
  .thumbnail {
    border: none;
  }

  .worked-with-name-bg {
    background: #333;
    background: rgba(0,0,0,.4);
    color: #fff;
    position: absolute;
    bottom :0;
    padding: 0.5rem;
    height: 100%;

    opacity: 0;
    -webkit-transition: opacity ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;

    &:hover {
      opacity: 1
    }

    .worked-with-name-table {
      display: table;
      height: 100%;

      .worked-with-name {
        font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 0.8rem;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

#faq {
  dl {
    dt, dd {
      font-size: 1.5rem;
      line-height: 2.5rem;
    }
    dd {
      margin-bottom: 2rem;
    }
  }
}

