---
layout: default
---
  <section class="intro">
      <div class="intro-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2 col-xs-12">
                    <img src="/img/splash-logo-text.png" alt="Urban Play" class="img-responsive" />
                      <p class="intro-text">A... <em>TODO - one liner intro</em></p>
                      <div class="page-scroll">
                          <a href="#about" class="btn btn-circle">
                              <i class="fa fa-angle-double-down animated"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  {% for post in site.posts %}

    {%if post.name == 'founders'%}

      <section id="{{post.name}}" class="content-section text-center">
        <div class="section-header clearfix text-left">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>{{post.title}}</h2>
          </div>
        </div>
        <div class="{{post.class}} row">
          <div class="col-lg-8 col-lg-offset-2 col-xs-12 ">
            {{post.content}}
          </div>
        </div>
    </section>

    {%elsif post.header%}

      <section id="{{post.name}}" class="content-section text-center">
        <div class="section-header clearfix text-left">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>{{post.title}}</h2>
          </div>
        </div>
        <div class="{{post.class}} row">
          <div class="col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
            {{post.content}}
          </div>
        </div>
    </section>

    {%else%}

      {%if post.fullwidth%}
    
       <section id="{{post.name}}" class="content-section text-left">
         <div class="{{post.class}}">
            <div class="col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
                <h2>{{post.title}}</h2>
                {{post.content}}
            </div>
        </div>
      </section>

      {%else%}

         <section id="{{post.name}}" class="container content-section text-left">
          <div class="{{post.class}} row">
              <div class="col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
                  <h2>{{post.title}}</h2>
                  {{post.content}}
              </div>
          </div>
        </section>

      {%endif%}

     {%endif%}
   
  {% endfor %}
