<footer class="site-footer">
  <div class="container">
    <div class="row" style="margin-bottom:4em;">
      <div class="col-lg-8">
        <h2><span class="light-color">UrbanPlay</span> one liner</h2>
        <h5>Navigation</h5>
        <ul class=site-footer-navigation">
          <li><h4 style="margin-bottom:0.3em;"><a href="/">Home</a></h4></li>
          <li><h4 style="margin-bottom:0.3em;"><a href="/contact">Contact</a></h4></li>
          <li><h4 style="margin-bottom:0.3em;"><a href="/faq">FAQ</a></h4></li>
          <li><h4 style="margin-bottom:0.3em;"><a href="http://blog.urbanplayfitness.org/">Blog</a></h4></li>
          <li><h4 style="margin-bottom:0.3em;"><a href="/donate">Donate</a></h4></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <img class="img-responsive" src="/img/splash-logo.jpg" alt="Urban Play logo" />

        <ul class="list-inline banner-social-buttons text-center" style="margin-top:4em;">
          <li>
              <a href="https://www.facebook.com/urbanplayfitness" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
          <li>
              <a href="https://twitter.com/heyurbanplay" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
              <a href="https://instagram.com/heyurbanplay" class="btn btn-default btn-sm"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
          </li>
      </ul>
      </div>
    </div>

    <div class="row">
      <div class="footer-legal col-lg-12 text-center">
        UrbanPlay is a registered California 501(c)3 non-profit #3693322
      </div>
    </div>
  </div>

</footer>

<!-- Core JavaScript Files -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>

{% raw %}
<script type="text/x-handlebars" id="workedWithTemplate">
  <div class="row">
    {{#organizations}}
      <div class="col-md-3 col-xs-6 worked-with">
        <img class="img-responsive" src="/img/worked_with/{{img}}" />
        <a class="thumbnail" href="{{url}}" target="_blank">
          <div class="worked-with-name-bg">
            <div class="worked-with-name-table text-left">
              <div class="worked-with-name">Parnered with <strong>{{name}}</strong> {{offer}}</div>
            </div>
          </div>
        </a>
      </div>
    {{/organizations}}
  </div>
</script>
{% endraw %}

<style>
  
</style>

<!-- Custom Theme JavaScript -->
<script src="/js/underscore.js"></script>
<script src="/js/grayscale.js"></script>
<script src="/js/site.js"></script>
<script src="/js/changer.js"></script>

